@tailwind base;
@tailwind components;
@tailwind utilities;

/* Previnindo pré definições que os navegadores fazem automaticamente */

*{
  min-width: 0;
}

.rdp-day_range_start,
.rdp-day_selected, 
.rdp-day_range_end,
.rdp-day_range_end:hover {
  background-color: #BEF264;
  color: black;
}

.rdp-day_selected:hover{
  background-color: #8ebd3d;
}

